      <script type="text/javascript">
      $(document).ready(function(){
        var pathname = window.location.pathname; // Returns path only
        var page = pathname.replace('/', '');
        if (page == 'test') {
          page = page + 's';
        };
        $('a[href="' + page + '"]').css('padding-bottom', '27px');
        $('a[href="' + page + '"]').css('background-color', '#BE4B64');
      });
      </script>
    </div> 
    <footer>
      
    </footer>
  </body>
</html>