<%= erb :header %>
<div id="content"> 
<p class="index">
  Реших да направя един красив, функционален, изчистен и забавен сайт за тестове - така както трябва да изглежда такъв сайт за тестове. Ако забравя малко за скромността, която уж ни краси, сайтът се получи много добре. Целите бяха постигнати и се получи наистина един много приятен и лесен за употреба сайт.
</p>
<p class="index">
  Повечето от тестовете са събирани от разни хартиени източници и са доста старички. Но има и нови тестове, събирани от различни места от Интернет. Също така, Ви обещавам, че ще се постарая да вкарвам нови тестове редовно. А няма да се разсърдя, ако Вие ми пратите някой тест. Ще се постарая да го включа бързо.
</p>
<p class="index">
  Не обръщайте много внимание на резултатите от тестовете. Въпреки че, психолозите казват, че по тях може да се познае характера на човек, то това едва ли може да се стане толкова лесно с помощта на 10-15 въпроса. Приемете препоръките накрая повече като закачка и едно странично мнение. А и не забравяйте, че има доста тестове, които са с чисто развлекателен характер и не бива да се вземат много на сериозно.
<p class="index">
  Приятно прекарване в компанията на тестовете!
</p>
  <a id="index-test-link" href="tests">Към тестовете>>>></a>
</div>
<%= erb :footer %>