<%= erb :header %>
<div id="content">
  <div id="registrationForm">
      <h2 style="color: #fff;">Registration:</h2>
      <form method="POST" action="/save_new_user" id="registrationForm">
          <div class="labelAndInput">
              <label>Username:</label>
              <input type="text" id="name" name="user_name">
              <span class="errorloc"></span>
          </div>
          <div class="labelAndInput">
              <label>Mail:</label>
              <input type="text" id="email" name="email">
              <span class="errorloc"></span>
          </div>
          
          <div class="labelAndInput">
              <label>Password:</label>
              <input type="password" id="pass1" name="password">
              <span class="errorloc"></span>
          </div>
          <div class="labelAndInput">
              <label>Reapeat password:</label>
              <input type="password" id="pass2" name="password_repeat">
              <span class="errorloc"></span>
          </div>
          <div class="labelAndInput">
              <label>Gender:</label>
              <input type="radio" name="sex" checked value="male"><span style="color:white;">Male</span>
              <input type="radio" name="sex" value="female"><span style="color:white;">Female</span>
          </div>
          <span class="registration_error"><%= errors %></span>
          <input type="submit" id="registerButton" value="Register">
      </form>
  </div>
</div>
<%= erb :footer %>